#footer.glance-footer
    .container-responsive
        .row.row-condensed
        .text-center
            h2.h5.spacing-4 Explore With Us
            ul.list-layout.list-inline
                li
                    a.link-contrast.footer-icon-container(href='https://www.facebook.com/glanceteam', target='_blank')
                        span.screen-reader-only Facebook
                        i.icon.footer-icon.fa.fa-facebook
                li
                    a.link-contrast.footer-icon-container(href='https://twitter.com/glanceappteam', target='_blank')
                        span.screen-reader-only Twitter
                        i.icon.footer-icon.fa.fa-twitter
                li
                    a.link-contrast.footer-icon-container(href='https://instagram.com/glanceapp/', target='_blank')
                        span.screen-reader-only Instagram
                        i.icon.footer-icon.fa.fa-instagram
            .spacing-top-2.text-muted © Glance, Inc.