//- #header.glance-header
//- 	header.clearfix
//- 		.logo-container.pull-left
//- 			a.logo-link.link-reset
//- 				h1.logo Glance
#header.glance-header
	header
		.row.row-marginless
			.col-xs-2.back-option
				a(href="/spotlist", style="height: 61px; line-height: 61px;")
					i.fa.fa-chevron-left.fa-2x(style="line-height: 61px;")
			.col-xs-8
				.logo-container
					a.logo-link.link-reset
						h1.logo Glance
			.col-xs-2.col-md-4