script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(type='text/javascript').
	window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>');
script(type='text/javascript', src='/js/modernizr.js')
script(type='text/javascript', src='/js/sitewide.js')