extends ./layouts/layout

include ./components/stars.jade

append head
	script.
		var breakpoint = 769;
		var viewportWidth = window.innerWidth;
		var hasMap = false;

		if (viewportWidth > breakpoint) {
			document.write('<script src="https://maps.googleapis.com/maps/api/js"><\/script>');
			hasMap = true;
		}

block content
	#hero-container.hero
		#map-canvas.map-canvas

	#discover-title.section
		.container
			.section-title.text-center.spacing-6.spacing-top-6
				h1 #{pageTitle}

	#discover-container.section
		.container
			.row
				.col-sm-12.col-md-6.spacing-4
					.city.city-card.city-data(data-lat="", data-lng="", data-city="Irvine")
						a(href="/city/Irvine")
							.va-container.va-container-w.va-container-h
								.va-middle.text-center.text-contrast
									h2
										strong Irvine

				.col-sm-12.col-md-6.spacing-4
					.city.city-card.city-data(data-lat="", data-lng="", data-city="Orange")
						a(href="/city/Orange")
							.va-container.va-container-w.va-container-h
								.va-middle.text-center.text-contrast
									h2
										strong Orange

				.col-sm-12.col-md-6.spacing-4
					.city.city-card.city-data(data-lat="", data-lng="", data-city="Tustin")
						a(href="/city/Tustin")
							.va-container.va-container-w.va-container-h
								.va-middle.text-center.text-contrast
									h2
										strong Tustin

				.col-sm-12.col-md-6.spacing-4
					.city.city-card.city-data(data-lat="", data-lng="", data-city="Fullerton")
						a(href="/city/Fullerton")
							.va-container.va-container-w.va-container-h
								.va-middle.text-center.text-contrast
									h2
										strong Fullerton

append scripts
	script.
		if (viewportWidth > breakpoint) {
			document.write('<script src="/js/main-maps.js"><\/script>');
		}
		else {
			document.body.className = document.body.className + " no-hero-map";
		}
