extends ./layouts/layout

include ./components/stars.jade
include ./components/spot_list_item.jade

append head
    script.
        var breakpoint = 769;
        var viewportWidth = window.innerWidth;
        var hasMap = false;

        if (viewportWidth > breakpoint) {
            document.write('<script src="https://maps.googleapis.com/maps/api/js"><\/script>');
            hasMap = true;
        }
    // Google maps
    //script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js')

block content
    #hero-container.hero.section
        #map-canvas.map-canvas

    #discover-title.section
        .container
            .section-title.text-center.spacing-6.spacing-top-6
                h1 #{pageTitle}

    #discover-container.section
        .container
            //- .section-title.text-center.spacing-6.spacing-top-6
            //-     h1 Irvine
            .search-results
                .listing-container
                    .row
                        each spot, i in spot_list
                            +spotDisplay2(spot)

append scripts
    script.
        if (viewportWidth > breakpoint) {
            document.write('<script src="/js/maps.js"><\/script>');
        }
        else {
            document.body.className = document.body.className + " no-hero-map";
        }
    //script(type='text/javascript', src='/js/maps.js')
