.show-inline { display: inline-block; }
.hidden { display: none; }

.pull-left { float: left; }
.pull-right { float: right; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.va-top, .va-middle, .va-bottom { display: table-cell; }
.va-top { vertical-align: top; }
.va-middle { vertical-align: middle; }
.va-bottom { vertical-align: bottom; }

.text-small { font-size: 0.85em; }
.text-medium { font-size: 1.33333333em; }
.text-2x { font-size: 2em; }
.text-3x { font-size: 3em; }
.text-4x { font-size: 4em; }
.text-5x { font-size: 5em; }

.text-contrast { color: #fff; }
.text-muted { color: #82888a; }

.text-light-gray, .icon-light-gray { color: #cacccd; }

.text-beach, .icon-beach { color: #f5a623; }

.text-truncate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-normal, a.text-normal, a.text-normal:hover, a.text-normal:focus { color: inherit; }

.link-contrast { color: #fff; }

.link-normal { color: #565a5c; }

.link-reset:hover, .link-icon:hover, .link-reset:focus, .link-icon:focus, .link-reset:active, .link-icon:active { 
	color: inherit;
	outline: none;
	text-decoration: none;
}

.spacing-0 { margin-bottom: 0; }
.spacing-1 { margin-bottom: 6.25px; }
.spacing-2 { margin-bottom: 12.5px; }
.spacing-3 { margin-bottom: 18.75px; }
.spacing-4 { margin-bottom: 25px; }
.spacing-5 { margin-bottom: 31.25px; }
.spacing-6 { margin-bottom: 37.5px; }
.spacing-7 { margin-bottom: 43.75px; }
.spacing-8 { margin-bottom: 50px; }
.spacing-9 { margin-bottom: 56.25px; }
.spacing-10 { margin-bottom: 62.5px; }

.spacing-top-0 { margin-top: 0; }
.spacing-top-1 { margin-top: 6.25px; }
.spacing-top-2 { margin-top: 12.5px; }
.spacing-top-3 { margin-top: 18.75px; }
.spacing-top-4 { margin-top: 25px; }
.spacing-top-5 { margin-top: 31.25px; }
.spacing-top-6 { margin-top: 37.5px; }
.spacing-top-7 { margin-top: 43.75px; }
.spacing-top-8 { margin-top: 50px; }
.spacing-top-9 { margin-top: 56.25px; }
.spacing-top-10 { margin-top: 62.5px; }

.va-container {
	display: table;
	position: relative;
}
.va-container-w { width: 100%; }
.va-container-h { height: 100%; }

.image-responsive-height {
	width: auto;
	height: 100%;
}

.image-responsive-width {
	width: 100%;
	height: auto;
}

.screen-reader-only {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.row-condensed {
	margin-left: -6.25px;
	margin-right: -6.25px;
}

.row-marginless {
	margin-left: 0;
	margin-right: 0;
}

.clearfix:before, .clearfix:after { 
	content: " ";
	display: table;
}

@media (min-width: 768px) {

}
